#lauriepic {
	width: 270px;
	float: left;
	margin: 215px 0 210px 350px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
#lauriepic img {
	border: 3px solid white;
}
#aboutarticle {
	float: right;
	width: 350px;
	line-height: 1.5em;
	margin: 215px 350px 210px 0;
}
#lineimage img {
	border: none;
	width: 400px;
	position: relative;
	right: 40px;
	bottom: 5px;
}
#aboutarticle h1, #aboutarticle p {
	margin: 0 0 20px 0;
	color: #3e260c;
}
#aboutarticle h1 {
	font-family: quattrocento, serif;
	text-transform: uppercase;
	font-size: 27px;
}
footer {
	clear: both;
}